.navbar {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0c078;
  color: var(--header);
  padding: 0 2rem;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.navbar h1 {
  margin: 0;
  color: #6e532a;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1;
  text-align: center;
}